@import "tailwindcss";

@font-face {
	font-family: "PressStart2P";
	src: url("./fonts/PressStart2P-Regular.ttf");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Geo";
	src: url("./fonts/Geo-Regular.ttf");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SpaceGrotesk";
	src: url("./fonts/SpaceGrotesk-VariableFont_wght.ttf");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Silkscreen-Regular";
	src: url("./fonts/Silkscreen-Regular.ttf");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "PixelifySans";
	src: url("./fonts/PixelifySans-VariableFont_wght.ttf");
	font-style: normal;
	font-display: swap;
}

#root {
	min-width: 100dvw;
	min-height: 100dvh;
	box-sizing: border-box;
}

body {
	font-family: "PixelifySans", sans-serif;
	font-weight: 400;
	display: flex;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	min-height: 100dvh;
	margin: 0;
	background-color: #000;
	color: #eeeeee;
}
