@import "tailwindcss";

@font-face {
  font-family: 'PressStart2P';
  src: url('./fonts/PressStart2P-Regular.ttf');
  font-style: normal;
  font-display: swap;
}


#root {
  min-width: 100dvw;
  min-height: 100dvh;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  margin: 0;
  @apply bg-[linear-gradient(180deg,#000000,#2F0101)];
  color: #EEEEEE;
}
